DEEPSEEK_API_KEY=
OPENAI_API_KEY=
OPENAI_BASE_URL=
OPENAI_AUDIO_MODEL=
PGDATABASE=
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=
WEASYPRINT_DLL_PATH=
WEASYPRINT_COMMAND=
EMAIL_VERIFICATION_EXPOSE_TOKEN=
PASSWORD_RESET_EXPOSE_TOKEN=
