.card {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 24px;
  box-shadow: var(--shadow-card);
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 12px;
}

.input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 10px;
  border: 1px solid var(--border-light);
  font-size: 14px;
}

.input:focus {
  outline: none;
  border-color: var(--primary);
}

.button {
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 500;
  background: var(--primary);
  color: rgb(83, 83, 83);
}
/* 
.button.secondary {
  background: var(--primary-soft);
  color: var(--primary);
} */
